#!/usr/bin/env bash

state="$(systemctl show elasticsearch | grep "ActiveState" | cut -d "=" -f 2)"

if [ "$state" != "active" ]; then
    log_error "Elasticsearch is not running ($state)"
    # shellcheck disable=SC2016
    log_error 'Please start it with `systemctl start elasticsearch`'
fi

LAB="$(basename "$PWD")"
use flake "..#${LAB}"
