state="$(systemctl show elasticsearch | grep "ActiveState" | cut -d "=" -f 2)"

if [ "$state" != "active" ]; then
    log_error "Elasticsearch is not running ($state)"
    log_error "Please start it with 'systemctl start elasticsearch'"
fi

use flake ..#lab2
